.card {
    position: relative;
    margin-right: 24px;
    margin-bottom: 24px;
    user-select: none;
}


.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    overflow: hidden;
}

.card-icon {
    font-size: 70px;
    height: 70px;
    width: 70px;
}

.descarga, .descarga:hover {
    color: #000000DE;
    text-decoration:none;
}


button {
    outline: none;
}
.container-seleccion .seleccion {
    background-color: rgba(146, 197, 255, 0.7);
    color: rgb(0, 119, 255);
}

.menu-i {
    font-size: 18px;
    width: 30px;
    color: #707070;
}

.folder {
    cursor: pointer;
    user-select: none;
}

.folder:hover {
    background-color: rgba(0,0,0,.1);
}

@media screen and (max-width: 390px) {
    .card-header {
        padding-left: 16px;
        padding-right: 16px;
    }

    .card {
        margin-bottom: 8px !important;
        margin-right: 8px !important;
    }

    .card-title {
        font-size: 12.5px;
    }
}