
.formulario__login {
    width: 500px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 16px;
    overflow: hidden;
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.formulario__input {
    display: block;
    width: 100%;
    height: 50px;  
    outline: none;
    padding: 0 10px;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    box-shadow: 0 0 0px 50px rgb(255, 255, 255) inset !important;
    overflow: hidden;
}

.div__files {
    position: relative;
}

.formulario__file {
    border: 1px solid #c1c1c1;
    height: 50px;
    width: 100%;
}

.formulario__file-error {
    border: 1px solid #f15c69;
}

.icon__file {
    position: absolute;
    top: 8px;
    height: 50px;
    width: 110px;
}

input {
    overflow-y: hidden;
}

.formulario__input:focus {
   border: 1px solid #3F51B5;
}



.formulario__button {
    height: 50px;
    width: 100%;
    border: none;
    color: #fff;
    background-color: #3F51B5;
    outline: none;
}

.formulario__button:hover{
    background-color: #5665bb;
}

.icon {
    color: #3F51B5;
}

.formulario__cuentas img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.formulario__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.formulario__label {
    font-size: 12px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px !important;
    text-transform: uppercase;
    border: 1px solid #d8d8d8;
}

@media screen and (max-width: 550px) {

    .grid {
        grid-template-columns: 1fr;
    }

    .formulario__login {
        width: 100%;
        margin: 0;
        padding: 0 !important;
    }
}

@keyframes inputAnimation {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}